@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime</title>
    <link rel="stylesheet" href="/css/dark_theme.css" />
    <link rel="stylesheet" href="~/css/mystyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnimeApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Anime</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Animes" asp-action="Index">
                                Animes
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a id="manage" class="nav-link" asp-controller="Profile" asp-action="Index" title="Manage">
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a id="logoutForm" class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">
                                Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">
                                Login
                            </a>
                        </li>
                    </ul>

                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - AnimeApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
